{% extends "/_layout.html.twig" %}
{% block title %}404 Page Not Found{% endblock %}
{% block content %}
	<div class="box">
		<p>The page you are looking for could not be found. Check the address bar to ensure your URL is spelled correctly. If all else fails, you can visit our home page at the link below.</p>
		<a href="/" class="button">Visit the Homepage</a>
	</div>
{% endblock %}
